# Exclude exported CurseForge zip files
/*.zip

# Exclude exported Modrinth modpacks
/*.mrpack

# Exclude executable files (such as packwiz.exe itself, if running from the same directory rather than PATH).
*.exe
packwiz

# Exclude Visual Studio folder
/.vs/

# Exclude macOS folder metadata
.DS_Store
