# Configuration file

gem_finder {
    S:targets <
        forbidden_arcanus:stella_arcanum, 0xFF888F7D, stellarite_piece
        forbidden_arcanus:xpetrified_ore, 0xFF75FF00, xpetrified_orb
        forbidden_arcanus:arcane_crystal_ore, 0xFFC6E3E9, arcane_crystal
        forbidden_arcanus:deepslate_arcane_crystal_ore, 0xFFC6E3E9, arcane_crystal
        forbidden_arcanus:runic_stone, 0xFFD1008E, rune
        forbidden_arcanus:runic_deepslate, 0xFFD1008E, rune
        forbidden_arcanus:runic_darkstone, 0xFFD1008E, rune
     >
}


metal_finder {
    S:targets <

     >
}


mineral_finder {
    S:targets <

     >
}
